@import "Config";
@import "Mixins";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.about-container {
  background-color: $tertiary;
}

.about-us {
  color: $lowlight;
  padding: 40px 60px;

  h2 {
    font-family: $main;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
  }

  p {
    font-family: $alata;
    font-size: 16px;
    line-height: 24px;
  }
}

.image-gallery-icon {
  color: rgba($tertiary, 0.6);
}

.image-gallery-slides {
  position: relative;
}

.image-gallery-slides::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    107,
    96,
    81,
    0.46
  ); /* Adjust the transparency by modifying the last value (0.5 in this case) */
  pointer-events: none; /* Allows click events to pass through the overlay */
}

@media screen and (min-width: 1024px) {
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 60px;

    .about-us {
      width: 50%;
      padding: 0 100px 0 40px;

      p {
        width: 90%;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .about-container {
    justify-content: space-around;

    .about-us {
      width: 40%;
      color: $lowlight;

      h2 {
        font-size: 38px;
        letter-spacing: 3px;
      }

      p {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
