@import "Config";
@import "Mixins";

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $tertiary;

  h2 {
    font-family: $main;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    color: $lowlight;
  }
  .content-container {
    width: 90%;
    margin: 0 auto 80px;

    .creator-image {
      width: 250px;
      height: 300px;
      position: absolute;
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.47),
          rgba(0, 0, 0, 0.47)
        ),
        url(../Images/about-image.jpg);
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      overflow-x: hidden;
    }
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 60px;
      left: 30px;
      width: 250px;
      height: 300px;
      padding: 0 20px;
      box-sizing: border-box;
      border: 2px solid $lowlight;
      background-color: rgba(107, 96, 81, 0.6);

      p {
        text-align: center;
        font-family: $alata;
        font-size: 16px;
        line-height: 16px;
        color: $tertiary;
      }
    }
  }
}

@media (min-width: 375px) {
  .about-container {
    .content-container {
      width: 90%;
      margin: 0 20px 80px 67px;

      .creator-image {
        width: 250px;
        height: 300px;
      }
      .about-text {
        top: 60px;
        left: 30px;
        width: 250px;
        height: 300px;
      }
    }
  }
}

@media (min-width: 425px) {
  .about-container {
    padding-bottom: 130px;
    .content-container {
      width: 90%;
      margin: 0 0 0 50px;

      .creator-image {
        width: 250px;
        height: 300px;
      }
      .about-text {
        top: 80px;
        left: 80px;
        width: 250px;
        height: 300px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about-container {
    @include row;
    padding: 30px;

    .about-us {
      width: 50%;
      align-items: flex-start;
      gap: 15px;
      padding: 0 40px;
      flex: 0 0 400px;

      h2 {
        margin-left: 10px;
        margin-bottom: 0;
      }
      p {
        width: 85%;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin: 0;
        padding: 15px;
      }
    }
    .image-gallery {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      .image-gallery-slides {
        height: 100%;
      }
      .image-gallery-image {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 80px;
  }
}

@media (min-width: 1440px) {
  .about-container {
    padding: 60px;

    .about-us {
      align-items: flex-start;
      height: 450px;
      flex: 0.5 0 350px;

      h2 {
        margin-top: 0;
        font-size: 45px;
      }

      p {
        font-size: 20px;
        padding: 0;
      }
    }

    .image-gallery {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      .image-gallery-image {
        max-height: 402px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .about-container {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px;

    .about-us {
      width: 40%;
      color: $lowlight;
      flex: 0.4 0 600px;

      h2 {
        font-size: 45px;
        letter-spacing: 3px;
      }

      p {
        font-size: 24px;
        line-height: 24px;
      }
    }
    .image-gallery {
      flex: 1.2;
      flex-wrap: wrap;

      .image-gallery-content {
        width: 100%;
      }
      .image-gallery-image {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
