@import "Config";
@import "Mixins";

.about-container {
  @include column;
  background-color: $tertiary;
  margin: 0;
  overflow-x: hidden;
}

.about-us {
  color: $lowlight;
  padding: 40px 30px;
  @include column;

  h2 {
    font-family: $main;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
  }

  p {
    font-family: $alata;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #2e2210;
  }
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  top: 80%;
}

.image-gallery-icon {
  color: $tertiary;

  &:hover {
    color: $tertiary;
  }

  &:active {
    color: black;
  }
}

.image-gallery-slides::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    107,
    96,
    81,
    0.16
  ); /* Adjust the transparency by modifying the last value (0.5 in this case) */
  pointer-events: none; /* Allows click events to pass through the overlay */
}

.image-gallery-thumbnails-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .image-gallery-slides {
    line-height: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: center;
    height: 450px;
    border: 2px solid $black;
  }

  .image-gallery-slide {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.image-gallery-center {
      position: relative;
    }

    .image-gallery-image {
      width: 100%;
      object-fit: contain;
    }
  }

  .image-gallery-thumbnails-wrapper {
    display: block;

    .image-gallery-thumbnail {
      display: inline-block;
      width: 106px;
      height: 75px;
      background: transparent;
      border: none;

      &.active,
      &:focus {
        outline: none;
        border: 4px solid $black;
        transform: none;
        transition: none;
      }

      .image-gallery-thumbnail-image {
        box-sizing: border-box;
        width: 98px;
        height: 68px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about-container {
    @include row;
    padding: 30px;

    .about-us {
      width: 50%;
      align-items: flex-start;
      gap: 15px;
      padding: 0 40px;
      flex: 0 0 400px;

      h2 {
        margin-left: 10px;
        margin-bottom: 0;
      }
      p {
        width: 85%;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin: 0;
        padding: 15px;
      }
    }
    .image-gallery {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      .image-gallery-slides {
        height: 100%;
      }
      .image-gallery-image {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 80px;
  }
}

@media (min-width: 1440px) {
  .about-container {
    padding: 60px;

    .about-us {
      align-items: flex-start;
      height: 450px;
      flex: 0.5 0 350px;

      h2 {
        margin-top: 0;
        font-size: 45px;
      }

      p {
        font-size: 20px;
        padding: 0;
      }
    }

    .image-gallery {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      .image-gallery-image {
        max-height: 402px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .about-container {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px;

    .about-us {
      width: 40%;
      color: $lowlight;
      flex: 0.4 0 600px;

      h2 {
        font-size: 45px;
        letter-spacing: 3px;
      }

      p {
        font-size: 24px;
        line-height: 24px;
      }
    }
    .image-gallery {
      flex: 1.2;
      flex-wrap: wrap;

      .image-gallery-content {
        width: 100%;
      }
      .image-gallery-image {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
