@import "Config";
@import "Mixins";

.footer-container {
  @include row;
  position: relative;
  background-color: $black;
  color: $primary;
  overflow-x: hidden;
}

.footer-contact {
  @include column;
  align-items: flex-start;
  padding: 60px 30px 30px;

  .address,
  .email,
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
  }

  h4 {
    padding: 0;
    margin: 0;
    font-family: $main;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.3em;
  }

  p {
    padding: 0;
    margin: 15px 0 40px 0;
    font-family: $alata;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3em;
    color: rgb(227, 214, 200);
  }

  .icons {
    margin-left: 0;
    img {
      margin: 15px 30px 40px 0;
    }
  }
}

button {
  position: absolute;
  bottom: 60px;
  right: 60px;
  border: none;
  background-color: $black;
  cursor: pointer;

  img {
    background-color: $black;
    height: 50px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .footer-container {
    justify-content: space-around;
  }
  .footer-contact {
    @include row;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
  }
}
