@import "Config";
@import "Mixins";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  height: 55px;
}

.navbar-links {
  width: 100%;
  display: none;
  z-index: 999;
}

.visible {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  height: 200px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 20px;
  list-style: none;
  padding-inline-start: 0;

  a.menu-item {
    text-decoration: none;
    font-family: $main;
    color: $primary;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

div.mobileitems {
  height: 100%;
  margin-left: auto;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  margin: 15px 15px 0 0;
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: $primary;
  border-radius: 5px;
}

.burger-icon {
  display: block;
  width: 40px;
  height: 25px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin: 25px 15px 0 0;
}

.burger-icon span:first-child {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-icon span:last-child {
  bottom: 0;
}

.burger-icon.open span:first-child {
  transform: rotate(45deg) translate(2px, 2px);
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
}

.burger-icon.open span:last-child {
  transform: rotate(-45deg) translate(3px, -3px);
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .navbar-links {
    display: block;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  a.menu-item {
    font-size: 24px;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 1s;

    &:hover,
    &.hovered {
      border: 1.5px solid rgba(255, 255, 255, 0.4);
    }
  }

  .menu-items {
    padding-right: 75px;
  }
}
