@import "Config";
@import "Mixins";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 55px;
}

.navbar-links {
  width: 100%;
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  background-color: rgba(0, 0, 0, 0.2);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  // padding: 20px;
  list-style: none;
  padding-inline-start: 0;

  a.menu-item {
    text-decoration: none;
    text-transform: lowercase;
    font-family: $main;
    color: $primary;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

div.mobileitems {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  position: relative;
}

.burger-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $primary;
    border-radius: 5px;
  }
}

.burger-icon span:first-child {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 45%;
  transform: translateY(-50%);
}

.burger-icon span:last-child {
  bottom: 0;
}

.burger-icon.open span:first-child {
  transform: rotate(45deg) translate(12px, 13px);
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
}

.burger-icon.open span:last-child {
  transform: rotate(-45deg) translate(2px, -3px);
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .navbar {
    height: 80px;
    background-color: transparent;
  }
  .active {
    background-color: $black;
  }
  .navbar-links {
    display: block;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  .navbar {
    height: 80px;
    .navbar-links {
      @include row;
      justify-content: flex-end;
      height: 80px;
      .menu-items {
        height: 80px;
      }
    }
  }

  a.menu-item {
    font-size: 24px;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 1s;

    &:hover,
    &.hovered {
      border: 1.5px solid rgba(255, 255, 255, 0.4);
    }
  }

  .menu-items {
    padding-right: 75px;
  }
}
